 body {
    background: #c7b39b url(1.jpg); /* Цвет фона и путь к файлу */
    color: black; /* Цвет текста */
   }
   #wrapper{ /* Оболочка страницы сайта */
  width: 900px; /* Меняется ширина страницы */
  margin: 0 auto;
  background:#f2e8c9; /* Меняется задний фон страницы */
}

/* Шапка сайта */

#header{
	
position:relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
  width: 1100px;
 height: 100px; /* Высота шапки */
  background-color: #ffffff; /* Фон шапки */
   margin-bottom: 0px; /* Нижний отступ шапки от остального контента */
  border-radius: 5px; /* Закругляются углы блока */
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
}
img{ /* Фоновая картинка в шапке */
float: left; /* Разрешаем наплывание других элементов на картинку */
  margin: -90px 0 0 10px;} /* Размещаем картинку в блоке header. 1-я и 3-я цифры - двигаем вверх-вниз, 2-я и 4-я цифры - двигаем вправо-влево */
h1{ /* Заголовок сайта */
  margin:0 0 10px 90px; /* Заголовок двигается верх-вправо-вниз-влево. */
  color:black; /* Цвет заголовка */
}


/* Сайдбар (колонка справа) */

#sidebar{ /* Блок сайдбара */
position:relative;
  background-color: #ffffff; /* Фон блока */
  width: 160px; /* Ширина блока */
  padding: 10px; 
  float: right;
      left: 200px; /* Расстояние от левого края */ 

   margin-right: 0px; 
  border-radius: 5px; 
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Задаём блоку тень */
}
.marcer{ /* Галочки маркеры меню */
  float: left; /* Размещаем слева от текста */
  margin: 5px 5px 0 0; /* Двигаются вверх-вправо-вниз-влево */
}

/* Контент (статья) */

#content{ /* Блок контента */
 
  width: 100%; 
  padding: 10px; /* Отступ текста от краёв блока */
  background: #ffffff; /* Фон статьи */
  border-radius: 0px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
   margin-bottom: 0px; 
}
.left{ /* Картинка в тексте слева */
display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
     margin-top: 5px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
  float: left;
 
  margin: 30px 200px 7px 7px;
}



.right{ /* Картинка в тексте справа */
display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 5px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
	width: 100%; /* Ширина */
  float: right;
  margin: 7px 0 7px 10px;
  
}
.center {
	display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 5px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */  
  float: center;
  width: 100%; /* Ширина */
  margin: 7px 0 7px 7px;	
 

	
	}



