 body {
    background: #c7b39b url(1.jpg); /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
   }

	img {
		
  border-radius: 40%;

}

 .menu-one{
  
    
    width: 150px; /* Ширина */
    height: 190px; /* Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin:10% 1% 10% 10%; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    }
 .menu-two{ 
    width: 150px; /* Ширина */
    height: 190px; /* Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin:10% 1% 10% 10%;/* Отступы */
    text-align: center; /* Выравнивание по центру */
    }  
	 .menu-three{
 
    width: 150px; /* Ширина */
    height: 190px; /* Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
     margin:10% 1% 10% 10%; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    }
	 .menu-four{
 
    
    width: 150px; /* Ширина */
    height: 190px; /* Высота */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin:10% 1% 10% 10%; /* Отступы */
    text-align: center; /* Выравнивание по центру */
    }
	.menu-one:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.menu-two:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
	.menu-three:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
	.menu-four:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

   figure p {
    margin-bottom: 0; 
	
   }
    figcaption { 
	 font-weight:bold;
    text-align: center;
	font-size:18px;
font-style:italic;
 text-shadow: 2px 2px 3px #000;
   }
   footer{
    height:80px;
    background-color: #41874E;
    margin-bottom: 10px;
}
#footer{ /* Блок подвала */
  height:80px; /* Высота блока подвала */
  background-color: #ffffff; /* Фон блока подвала */
  margin-bottom: 10px; /* Отступ снизу */
  border-radius: 5px; /* Закруглённые углы */
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Тень блока */
}
.clear{ /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
  clear: both;
}
  .fon{ /* Номер телефона */
  float:left; /* Разрешаем другим элементам обтекать абзац справа */
  margin:20px 0 0 20px;
}
.fax{ /* Номер факса */
  float:left;
  margin:20px 0 0 60px;
}
.mail{ /* Адрес E-mail */
  float:left;
 margin:20px 0 0 60px;
}
#header{
position:relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
  height: 250px; /* Высота шапки */
  background-color: #ffffff; /* Фон шапки */
   margin-bottom: 5px; /* Нижний отступ шапки от остального контента */
  border-radius: 5px; /* Закругляются углы блока */
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
